//colors variables
$lightPink: #F4AA9F;
$lightOrange: #F7D9B1;
$veryLightPink: #FCE6E2;
$veryLightOrange: #FFECE3;
$myWhite: #FFFFFF;
$myGrey: #808080;
$myRed: #ff0000;

//measures variables
$defaultPadding: 10px;
$defaultMargin: 5px;
$defaultBorderRadius: 5px;

//font variables
$defaultFontFamily: sans-serif;
$defaultFontSize: 1em;
$defaultLineHeight: 1em;

//breakpoints variables
$breakMediumScreen: 768px;
